.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.pie-charts-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 10vw;
}

.pie-charts-container rect {
  width: 0;
}

.bar-charts-container {
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 80%;
  gap: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 718px) {
  .pie-charts-container {
    flex-direction: column;
    gap: 0;
  }
}