.navbar-cont {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: #3FC3D4;
    padding-left: 5vw;
    padding-right: 5vw;
}

.navbar-span {
    font-size: 2em;
}

.navbar-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 5% ;
}

.navbar-ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-ul li a {
    color: black;
    text-decoration: none;
}
