/* Define CSS variables for the color scheme */
:root {
  --navbar-background: #01013C; /* Dark blue background */
  --navbar-text: #FFFFFF; /* White text */
  --navbar-link: #40439E; /* Light blue link color */
}

/* Apply the color scheme to the AdminNavbar component */
.navbar-cont {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-image: linear-gradient(var(--navbar-background), #001529);
  color: var(--navbar-text);
}

.navbar-span {
  font-size: 2em;
}

.navbar-ul-cont {
  width: fit-content;
}

.navbar-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 1em;
}

.navbar-ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-ul li a {
  color: var(--navbar-link);
  text-decoration: none;
}

.button {
  border: 0px solid transparent;
  border-radius: 7px;
  transition: all 0.3s;
  cursor: pointer;
  background: var(--navbar-background);
  margin-right: 3vw;
  padding: 3px;
  color: var(--navbar-text);
}

.button:hover {
  background-image: radial-gradient(var(--navbar-background), #03045d);
  color: white;
  transform: scale(1.2);
}

.logout-button {
  border: 0px solid transparent;
  border-radius: 7px;
  transition: all 0.3s;
  cursor: pointer;
  background: var(--navbar-background);
  margin-right: 3vw;
  padding: 3px;
  color: var(--navbar-text);
}

.logout-button:hover {
  background-image: radial-gradient(var(--navbar-background), #03045d);
  color: white;
  transform: scale(1.2);
}
