/* Base styles and resets */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f6f6f6;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Main welcome container */
.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F7F6FB;
    background-image: url("../assets/images/money-control-and-budget-planning-vector-14758009-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.welcome-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.content-box {
    z-index: 1;
    background-color: #f7f6fbc8;
    border-radius: 12px;
    padding: 40px 60px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.welcome-header {
    color: black;
    font-size: 3rem;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

/* Action items */
.action-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    }

.action-item {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.action-link {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #00143c;
    color: #ffffff;
    transition: background-color 0.3s;
}

.action-link:hover {
    background-color: #0056b3;
}
