@font-face {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: normal;
    src: url("./assets/font/futura-pt-cufonfonts-webfont/FuturaCyrillicDemi.woff");
}

* {
    font-family: 'Futura PT';
    margin: 0;
    padding: 0;
}

body, html {
    background-color: #F7F6FB;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}